
<div class="container">
  <div class="row">
    <div class="col-sm">

    <button href="#carouselExampleControls" data-slide-to = "0" style="font-size: 12px;" class="btn btn-secondary">Saber más...</button>
    <button href="#carouselExampleControls" data-slide-to = "1" style="font-size: 12px;" class="btn btn-secondary">Saber más...</button>



    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            {{{chart1}}}
        </div>
        <div class="carousel-item">
            {{{chart2}}}
        </div>
    </div>





    </div>


    </div>
    <div class="col-sm">

    </div>
  </div>
</div>



<script>
$(document).ready(function() {
    alert ("Hola Mundo"); 
});

</script>