<style>
  .panel li:nth-child(odd) {
    background-color: Gainsboro;
  }

  ul.navega li {
        display: inline;
        list-style-type:square;
  }

  .cal {
    display: flex;
    align-items: right;
  }

  .dt {
    font-style: italic;
    display: flex;
    align-items: right;
    font-weight: 100;

  }
</style>





<div class="container" >
  <div class="row" style="margin-left: -5%;margin-right: -5%;">
    <div class="col-sm-3"  style="padding-left: 0%;padding-right: 0%;">
      Experiencia
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
      </div>   
      Calificacion de tus comentarios
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width:{{qualificated_post.percentage_positive}}%" aria-valuenow={{qualificated_post.percentage_positive}} aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-danger" role="progressbar" style="width:{{qualificated_post.percentage_like}}%" aria-valuenow={{qualificated_post.percentage_like}} aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-warning" role="progressbar" style="width: {{qualificated_post.percentage_negative}}%" aria-valuenow={{qualificated_post.percentage_negative}} aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <ul class="navega">
        <li><span class="badge badge-success">Nº Positivos: {{qualificated_post.total_positive}}</span></li>
        <li><span class="badge badge-danger">Nº Likes: {{qualificated_post.total_like}}</span></li>
        <li><span class="badge badge-warning">Nº Negativos: {{qualificated_post.total_negative}}</span></li>
      </ul>
      <hr />
      Tus datos
      <p><small> Media de tiempo restante en tareas: {{mean}} </small></p>


    </div>

    <div class="col-sm-5">
      <div class="d-flex justify-content-around">
        <button href="#carouseldiagrams" data-slide-to="0" style="font-size: 12px;" class="btn btn-secondary">DIAGRAMA
          1</button>
        <button href="#carouseldiagrams" data-slide-to="1" style="font-size: 12px;" class="btn btn-secondary">DIAGRAMA
          2</button>
      </div>


      <div id="carouseldiagrams" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            {{{chart1}}}
          </div>
          <div class="carousel-item">
            {{{chart2}}}
          </div>
        </div>
      </div>


    </div>
    <div class="col-sm-4">
      <div class="panel">

        <ul class="list-group">
          {{#qualified_task}}

          <li class="list-group-item" style="  padding-bottom: 2%;     ">
            <div class="row">
              <div class="col-sm">
                {{#isquiz}}
                {{#pix}} icon, quiz {{/pix}}
                {{/isquiz}}

                {{^isquiz}}
                {{#pix}} icon, assign {{/pix}}
                {{/isquiz}}
                <a href="{{url}}">{{name}}</a>

                <span style="font-style: italic;"> - {{coursename}} </span>
              </div>
              <div class="cal">
                {{grade}}
              </div>

            </div>
            <div class="row">
              <div class="col-sm">
                <div class="dt">
                  <small>calificado el {{date}}</small>
                </div>
              </div>
            </div>

          </li>

          {{/qualified_task}}

        </ul>

      </div>

    </div>
  </div>
</div>